<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Liður A</title>
    <link rel="stylesheet" href="/static/app.css" type="text/css" />
</head>
<body>
    <h1>Liður A</h1>
    <a href="/">Heimasíða</a>
    <h4>Jón Jónsson kt: <a href="/kt/1234567890">1234567890</a></h4>
    <h4>Sigríður Sigurðardóttir kt: <a href="/kt/09876543231">09876543231</a></h4>
    <h4>Rassmus Bolli kt: <a href="/kt/1253478795">1253478795</a></h4>
</body>
</html>